extends layout

block content

	div.col-md-12
		h1 Bulletin Board
		p Post A New Message

		form(action="/messages", method="POST")
			input(type="text", placeholder="Title", name="title")
			<br><br>
			textarea(placeholder="Type Message Here..." name="body" rows="20" cols="70")
			<br><br>
			button(type="submit") Submit

		br
		br
		br

script( src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' )
script( src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js' )